.ProductHistory {
  width: 300px;
  height: 90px;
  border: 1px solid #0ad2fabe;
  margin: 15px;
  display: flex;
  justify-content: space-around;
}

.left {
  display: flex;
}

.left img {
  width: 110px;
  height: 80px;
}

.product-details .category {
  color: grey;
  margin: 15px 0 5px 0;
}

.product-details .name {
  margin: 0;
}

.right {
  display: flex;
  align-items: center;
}
